In [1]:
import pandas as pd
import numpy as np
from scipy import stats as stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
t = pd.read_csv("/content/Costomer+OrderForm(1).csv")

In [3]:
t.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
t.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [5]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [6]:
t_table=t.iloc[:,0:5]
t_table

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [7]:
t.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [8]:
t.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [9]:
t.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [10]:
t.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [11]:
ct=[[271,267,269,280], [29,33,31,20]]
ct

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [12]:
stat, p, dof, exp = stats.chi2_contingency(ct) 
print(stat,"\n", p,"\n", dof,"\n", exp)

3.858960685820355
 0.2771020991233135
 3
 [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [13]:
obs=np.array([271, 267, 269, 280,29, 33, 31, 20])
exp=np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

In [14]:
 p_value = stats.chisquare(obs, exp, ddof = 3)
print( p_value)

Power_divergenceResult(statistic=3.858960685820355, pvalue=0.4254298144535761)

where p valuie is greater than α we reject alternative hypothesis and accept null hypothesis.